/* This file is for your main application CSS */
@import "./base.css";

/* CSS variables */
:root {
  --header-font: "Inconsolata", monospace;
  --accent-color: #ac0c0c;
  /* --accent-color: #606c76; */
  --link-color: var(--accent-color);
  --link-hover-color: #911868;
}

body {
  color: #000000;
  font-family: var(--header-font);
}

header section {
  flex-direction: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: bold;
}

a {
  color: var(--accent-color);
}
a:focus,
a:hover {
  color: var(--link-hover-color);
}

pre {
  border-left: 0.3rem solid var(--accent-color);
}

header,
footer {
  font-family: var(--header-font);
}

article {
  border-bottom: 1px solid #eaeaea;
}

article:last-child {
  border-bottom: none;
}

footer.root {
  border-top: 1px solid #eaeaea;
  color: #696969;
}
