<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "pavonz.com", suffix: "" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="root">
      <section class="container">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/blog">blog</a></li>
            <%# <li><a href="/projects">projects</a></li> %>
          </ul>
        </nav>
        <%# <h1><a href="/">Andrea <i>pavonz</i> Pavoni</a></h1> %>
        <h1><a href="/">~/pavonz</a></h1>
      </section>
    </header>
    
    <%= @inner_content %>
    
    <footer class="root">
      <section class="container">
        <small>built with <i class="hearth">&#10084;</i> by Andrea Pavoni &copy;2010-2022</small>
      </section>
    </footer>
  </body>
</html>
